<div class="w-75 mx-auto py-5 my-5">
  <h4>Reset Password :  </h4>

  <div *ngIf="errorMsg !== null && errorMsg !== undefined && errorMsg.length > 0" class="alert alert-danger">
    {{errorMsg}}
  </div>

    <form *ngIf="resetPasswordForm" (ngSubmit)="handleResetPassword(resetPasswordForm)"  [formGroup]="resetPasswordForm">

    <label for="password">New Password</label>


    <div class="input-group ">
      <input type="{{ showPassword ? 'text' : 'password' }}"   [(ngModel)]="resetPasswordForm.value.password" formControlName="newPassword"  id="password" class="form-control mb-2">

      <span class="input-group-text bg-white mb-2" (click)="toggleShowPassword()" *ngIf="showPassword">
          <i class="fa-regular fa-eye"></i>
      </span>
      <span class="input-group-text bg-white mb-2" (click)="toggleShowPassword()" *ngIf="!showPassword">
          <i class="fa-regular fa-eye-slash"></i>
      </span>

    </div>


    <div *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched" class="alert alert-danger">
      <p *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')" class="m-2">password must start with upperCase an lowercase then from 3 to 10  </p>
      <p *ngIf="resetPasswordForm.get('newPassword')?.getError('required')" class="m-2">password is Required</p>
    </div>


      <button  class="btn ms-auto d-block px-5 border-0 text-white  bg-main" type="submit">
        <i *ngIf="isLoading" class="fa-solid fa-circle-notch fa-spin"></i>
                <span class="ms-2">Reset Password</span>
      </button>

  </form>
</div>
