<div class="w-75 mx-auto py-5 my-5">
  <h4>Forgot Password? </h4>
  <p>No worries, we'll send you to reset Password :</p>

  <div *ngIf="errorMsg !== null && errorMsg !== undefined && errorMsg.length > 0" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <form *ngIf="passwordForm" (ngSubmit)="handlePassword(passwordForm)"  [formGroup]="passwordForm">

    <label for="email">email</label>
    <input formControlName="email" type="email" id="email" class="form-control mb-2">

    <div *ngIf="passwordForm.get('email')?.errors && passwordForm.get('email')?.touched" class="alert alert-danger">
      <p *ngIf="passwordForm.get('email')?.getError('email')" class="m-2">Email inValid </p>
      <p *ngIf="passwordForm.get('email')?.getError('required')" class="m-2">Email is Required</p>
    </div>

      <button  [disabled]="passwordForm.invalid" class="btn d-block ms-auto px-5 border-0 text-white  bg-main" type="submit">
        <i *ngIf="isLoading" class="fa-solid fa-circle-notch fa-spin"></i>
            <span class="ms-2">Reset Password</span>
      </button>

  </form>
</div>
